<div>
  <div class="text-center">
      <ng-container *ngIf="!stocks">
          <app-spinner></app-spinner>
      </ng-container>
  </div>

  <div>
    <button class="btn btn-dark mb-3" (click)="refreshStocks()">Reset Stocks</button>
  </div>

  <div *ngIf="stocks">
      <div *ngFor="let stock of stocks">
        <div class="card mb-3">
          <h2 class="card-header">{{ stock.symbol }} </h2>
          <p>Last trade price: {{ stock.price}}</p>
          <p>Change: <span [innerHTML]=" stock.change | changeCustomPipe"></span></p>
          <p>Name: {{ stock.name }}</p>

          <button class="btn btn-danger" (click)="removeStock(stock)">delete</button>

          <button class="btn btn-dark"
          routerLink="/editstock/{{ stock.symbol }}">edit</button>
        </div>
      </div>
    </div>

