<div class="container">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col-6">
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
              <div class = "card-body mb-3">
                <div class="mb-4">
                    <h2>Register</h2>
                </div>
              
              <div class="form-row">
              
              <div class ="form-group col">
                  First Name:
                  <input class="form-control" type="text" formControlName="firstName"
                  [ngClass]="{'is-invalid' : f.firstName.errors && submitted }">
                  <div *ngIf="f['firstName'].errors && submitted" class = "text-danger" >
                      <div *ngIf="f['firstName'].errors.required">Please provide first name</div>
                      <div *ngIf="f['firstName'].hasError('maxlength')">Please provide less than 25 characters</div>
                      <div *ngIf="f['firstName'].hasError('minlength')">Please provide more than 4 characters</div>
                  </div>
              </div>
              
              <div class ="form-group col">
                  Last Name:
                  <input class="form-control" type="text" formControlName="lastName"
                  [ngClass]="{'is-invalid' : f.lastName.errors && submitted }">
                  <div *ngIf="f['lastName'].errors && submitted" class = "text-danger" >
                      <div *ngIf="f['lastName'].errors.required">Please provide first name</div>
                      <div *ngIf="f['lastName'].hasError('maxlength')">Please provide less than 25 characters</div>
                      <div *ngIf="f['lastName'].hasError('minlength')">Please provide more than 4 characters</div>
                  </div>
              </div>
              
              </div>
              
              <div class ="form-group">
                 Email:
                  <input class="form-control" type="email" formControlName="email" placeholder="name@example.com"
                  [ngClass]="{'is-invalid' : f.email.errors && submitted }">
                  <div *ngIf="f['email'].errors && submitted" class = "text-danger" >
                    <div *ngIf="f['email'].errors.email">Email format</div>
                    <div *ngIf="f['email'].errors.required">Please provide email</div>
                  </div>
              </div>
              
              <div class ="form-group">
                  Password:
                  <input class="form-control" type="password" formControlName="password"
                  [ngClass]="{'is-invalid' : f.password.errors && submitted}">
                  <div *ngIf="f['password'].errors && submitted" class = "text-danger" >
                      <div *ngIf="f['password'].errors.required">Please provide password</div>
                  </div>
              </div>
              
              <div class="form-group">
                Gender:
                <div>
                  <select class="form-control" formControlName="gender"
                  [ngClass]="{'is-invalid' : f.gender.errors && submitted}">
                    <option selected>  </option>
                    <option>male   </option>
                    <option>female </option>
                  </select>
                  <div *ngIf="f['gender'].errors && submitted" class = "text-danger" >
                      <div *ngIf="f['gender'].errors.required">Please provide gender</div>
                  </div>
                </div>
              </div>
              
              <div class ="form-group">
                  Disabled:
                  <select class="form-control">
                      <option>no </option>
                      <option>yes </option>
                    </select>
              </div>
              
              <div class ="form-group">
                Country:
                <input class="form-control" type="text" formControlName="country"
                [ngClass]="{'is-invalid' : f.country.errors && submitted }">
                <div *ngIf="f['country'].errors && submitted" class = "text-danger" >
                    <div *ngIf="f['country'].errors.required ">Please provide country</div>
                </div>
              </div>
              
              
              <div class ="form-group">
                  Date of birth:
                  <input class="form-control datepicker" type="date" formControlName="dateOfBirth"
                  [ngClass]="{'is-invalid' : f.dateOfBirth.errors && submitted}">
                  <div *ngIf="f['dateOfBirth'].errors && submitted" class = "text-danger" >
                      <div *ngIf="f['dateOfBirth'].errors.required ">Please provide date of birth</div>
                  </div>
              </div>
              
              <div class ="form-group">
                  Description:
                  <input class="form-control" type="text" formControlName="description"
                  [ngClass]="{'is-invalid' : f.description.errors && submitted}">
                  <div *ngIf="f['description'].errors && submitted" class = "text-danger" >
                      <div *ngIf="f['description'].errors.descriptionValidator ">Please provide description</div>
                  </div>
              </div>
                <button type="submit" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">Submit</button>
                <div *ngIf ="profileForm.valid && submitted" >
                    <app-popup></app-popup>
                </div>
              </div>
              </form>
              <div class="text-center">
                <button type="submit" class="btn btn-dark mr-1" (click)="clearLocalStorage()">Clear Local Storage</button>
                <button type="submit" class="btn btn-dark mr-1" (click)="getSpecItem()">Get spec item from Local Storage</button>
              </div>
      </div>
      <div class="col">
       
      </div>
    </div>
</div>


